name: health_snake_ladder
description: Health Heroes - Snake & Ladder educational game built with Flutter.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  audioplayers: ^5.2.1
  sqflite: ^2.3.0
  path_provider: ^2.1.0
  path: ^1.8.0
  intl: ^0.20.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/sounds/